.btn.btn-default:nth-child(1) {
    margin-right: 10px;
    }

    .btn.btn-default:nth-child(2) {
        margin-left: 10px;
    }
    
@media all and (min-width: 960px) {
h1{
    font-size: 40px;
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
h1{
    font-size: 5vw;
  }
}

@media all and (max-width: 599px) and (min-width: 254px) {
h1{
    font-size: 6vw;
  }
  
  .btn.btn-default:nth-child(1) {
    margin-right: 0px;
    }

    .btn.btn-default:nth-child(2) {
        margin-left: 0px;
        margin-top: 0px;
    }
  
}

@media all and (max-width: 253px) and (min-width: 50px) {
    
    h1{
    font-size: 6vw;
  }
    .btn.btn-default:nth-child(1) {
    margin-right: 0px;
    }

    .btn.btn-default:nth-child(2) {
        margin-left: 0px;
        margin-top: 5px;
    }
}


    
body {
  font-family: "PT Sans", "Arial", Helvetica, sans-serif;
}

h1 {
    color: #1D75BD;
    font-weight:  700;
}
.container {
    background-color: #fafafa;
}

.row {
    padding-bottom: 30px;
}

.col-md-6 {
}

div.img-worm {
    padding-bottom: 0px;
    padding-top: 40px;
}

img.img-worm {
}

.btn.btn-default {
    width: 110px;
}

.title {
    width: 75%;
    /*font-size: 16px;*/
}

.img-rounded {
    background-color: #fafafa;
    /*border: 0px solid #fff;
    padding: 6px;*/
    width: 30%;
    height: 30%;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#search-container {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
  max-width: 550px;
}